<?xml version="1.0"?>
<launch>

	<arg name="id_robot" default="rb1_base_b"/>
	<param name="ROBOT_ID" type="str" value="$(arg id_robot)"/>
    <rosparam command = "load" file="$(find fms_rob)/config/rob_home.yaml"/> 

	<group ns="$(arg id_robot)">
		<node pkg="fms_rob" name="command_router" type="command_router.py" output="screen"/>	
        <node pkg="fms_rob" name="dock_pose_server" type="dock_pose_server.py" output="screen"/>	
        <node pkg="fms_rob" name="dock_undock_server" type="dock_undock_server.py" output="screen"/>	
        <node pkg="fms_rob" name="dock_undock_client" type="dock_undock_client.py" output="screen"/>	
        <node pkg="fms_rob" name="drive_client" type="drive_client.py" output="screen"/>	
        <node pkg="fms_rob" name="pick_client" type="pick_client.py" output="screen"/>	
        <node pkg="fms_rob" name="place_client" type="place_client.py" output="screen"/>	
        <node pkg="fms_rob" name="park_pose_server" type="park_pose_server.py" output="screen"/>
        <node pkg="fms_rob" name="dynamic_reconf_server" type="dynamic_reconf_server.py" output="screen"/>		
	</group>
	
</launch>
